.invisible-scrollbar::-webkit-scrollbar{
    display: none;

}
.topSellersBar::-webkit-scrollbar{
	display: none;
}

.default-dropdown {
    display: inline-block;
	position: relative;

	&:after {
		border-color: blue transparent transparent transparent;
  		border-style: solid;
		border-width: 5px;
		content: '';
		position: absolute;
		pointer-events: none;
		top: 14px;
		right: 8px;
		z-index: 1000;
	}

	select {
		color: #ff0;
		display: inline-block;
		font-weight: 700;
		min-width: 150px;
		padding: 10px 18px 10px 10px; /* Right padding to account for triangle decoration */
		outline: none;
		-webkit-appearance: none;

		option {
			border: 2px solid blue;
			color: blue;
			font-weight: 700;
		}
	}
}


.with_box{
	width: 100%;
}

.slick-slider{
	
}